<h1>Listing maps</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Name</th>
    <th>Url</th>
    <th></th>
  </tr>

<% @maps.each do |map| %>
  <tr>
    <td><%= link_to image_tag(map.image_url), map_path(map) %></td>
    <td><%= link_to map.name, map_path(map) %></td>
    <td><%= link_to map.project_url %></td>
    <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map', new_map_path %>
