<p id="notice"><%= notice %></p>

<p>
  <b>Project url:</b>
  <%= @map.project_url %>
</p>

<%= gmaps4rails(@map.locations.to_gmaps4rails) %>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
