<!DOCTYPE html>
<html>
<head>
  <title>Kickmapper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false" %>
</script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= yield :scripts %>
</body>
</html>
